

    <form action="/receipts" method="get">
        <button class=" mb-2" type="submit"><img src="/images/arrow.png" width="20" height="20" alt="">back to receipts</button>
     </form>

<div class="mb-3 p-3 rounded bg-primary">
        <div class="pl-1 pr-1">

        <p>ID: <%= receipts[0].id %></p>
        <hr>
        <p>
                <form  action="/receipts/update/<%= receipts[0].id %>" method="post">
                    <div class="caption pb-3">Modify your receipt!</div>
                    <div class="form-group row">
                    <label class="oflow form-check-label pr-2" for="company">Company: </label><input class="ml-auto" id="company" type="text" placeholder="<%= receipts[0].company %>" name="company">
                    </div>
                    <div class="form-group row">
                    <label class="oflow form-check-label pr-2" for="total">Total: </label><input class="ml-auto" id="total" type="text" placeholder="<%= receipts[0].total %>" name="total">
                    </div>
                    <div class="form-group row">
                    <label class="oflow form-check-label pr-2" for="date">Date: </label><input class="ml-auto" id="date" type="text" placeholder="<%= receipts[0].date %>" name="date">
                    </div>
                    <button type="submit">Submit changes</button>
                </form>
        </p>

    <% for(var j=0;j < receipts[0].products.length;j++) { %>

        <hr>
        <div class="d-inline-block">
                <p>product: <%= receipts[0].products[j] %></p>
                <p>price: <%= receipts[0].prices[j] %></p>
                <p>quantity: <%= receipts[0].quantities[j] %></p>
                <a class="ml-auto bg-white p-1" href="../../receipts/product/remove/<%= receipts[0].id %>/<%= j %>" ><img src="/images/delete.png" width="20" height="20" class="ml-auto" alt=""></a>
        </div>


     <% } %>
        
                <hr>
                <p>Add new product:</p>
                <form action="/receipts/product/add/<%= receipts[0].id %>" method="post">
                        <input type="text" placeholder="product" name="product"> 
                        <input type="text" placeholder="price" name="price"> 
                        <input type="text" placeholder="quantity/mass" name="quantity"> 
                        <button type="submit"><img src="/images/add.png" width="20" height="20" alt="">Add</button>
                </form>
                
        


        </div>
</div>

<form action="/receipts/remove/<%= receipts[0].id %>" method="post">
        <button class="mt-2" type="submit"><img src="/images/delete.png" width="20" height="20" alt="">Delete this receipt!</button>
</form>
     
